{#response}
<tr>
	<td>
		<img src="{profilephotoBase}{user.profilephoto}" class="" style="max-width: 48px; float: left; margin: 0px 5px; padding: 1px; border-radius: 3px; border: 1px solid #aaa"> 
		<p style="margin: 0px; font-size: 100%">{user.name}</p>
		<p style="margin: 0px; font-size: 80%">{user.email}</p>
	</td>


	{#colresponses}
		{#check}
			{>"partCheckEdit"/}
		{/check}
		{#checkmaybe}
			{>"partCheckMaybeEdit"/}
		{/checkmaybe}
		{#number}
			{>"partNumberEdit"/}
		{/number}
		{#text}
			{>"partTextEdit"/}
		{/text}
	{/colresponses}
	<td class="center">
		<input class="btn btn-sm submitResponse" type="submit" value="Submit" />
	</td>
</tr>
{/response}
