{#response}


<tr class="updateResponseRow">
	

	{?isStored}
		<td class="center">
			Update my response
		</td>
	{:else}
		<td>
			<img src="{profilephotoBase}{user.profilephoto}" class="" style="max-width: 48px; float: left; margin: 0px 5px; padding: 1px; border-radius: 3px; border: 1px solid #aaa"> 
			<p style="margin: 0px; font-size: 100%">{user.name}</p>
			<p style="margin: 0px; font-size: 80%">{user.email}</p>
		</td>
	{/isStored}



	{^foodle.responseAvailable}


		<td style="text-align: center; vertical-align: center; font-size: 150%; padding: .2em 1em" colspan="{coldef.fullcolspan2}">
			{#foodle.lock.expired}
				<i class="fa fa-lock"></i> This foodle is expired, and you cannot update your response.
			{/foodle.lock.expired}
			{#foodle.lock.locked}
				<i class="fa fa-lock"></i> This foodle is locked, and you cannot update your response.
			{/foodle.lock.locked}
		</td>


	{:else}


		{#colresponses}
			{#check}
				{>"partCheckEdit"/}
			{/check}
			{#checkmaybe}
				{>"partCheckMaybeEdit"/}
			{/checkmaybe}
			{#number}
				{>"partNumberEdit"/}
			{/number}
			{#text}
				{>"partTextEdit"/}
			{/text}
		{/colresponses}

		<td class="center">
			{?isStored}
				<a href="#" class="btn btn-primary btn-sm submitResponse" style="margin: 3px"><i class="fa fa-pencil"></i> Update my response</a>&nbsp;
				<a href="#" class="btn btn-danger btn-sm actDeleteResponse" style="margin: 3px"><i class="fa fa-trash"></i> Delete response</a>
			{:else}
			<input class="btn btn-sm submitResponse" type="submit" value="Submit response" />
			{/isStored}
		</td>


	{/foodle.responseAvailable}


</tr>


{! OUTPUT ALREADY EXISTING ENTRY !}
{?isStored}
<tr>
	<td>
		<img src="{profilephotoBase}{userinfo.profilephoto}" class="" style="max-width: 48px; float: left; margin: 0px 5px; padding: 1px; border-radius: 3px; border: 1px solid #aaa"> 
		<p style="margin: 0px; font-size: 100%">{user.name}</p>
		<p style="margin: 0px; font-size: 80%">{user.email}</p>
	</td>


	{#colresponses}

		{?empty}
			<td class="responsebox bg-empty" data-colid="{idx}" style="text-align: center; padding: 0px">

			</td>
		{:else}
			{#check}
				{>"partCheck"/}
			{/check}
			{#checkmaybe}
				{>"partCheckMaybe"/}
			{/checkmaybe}
			{#number}
				{>"partNumber"/}
			{/number}
			{#text}
				{>"partText"/}
			{/text}
		{/empty}

	{/colresponses}
	<td class="center">
		<!-- <i class="fa fa-refresh"></i> -->
		{updatedAgo}
	</td>
</tr>
{/isStored}


{/response}


{#summary}
<tr class="summaryRow">
	
	<td class="center">
		Responses summary
	</td>

	{#col}
		<td class="center" {?restrictions.isLocked}style="background-color: #fcc" {/restrictions.isLocked}>
			{summary} 
			{?restrictions.enabled}
				{#restrictions.maxcheck}
					 of {.}
				{/restrictions.maxcheck}
				{#restrictions.maxnum}
					 of {.}
				{/restrictions.maxnum}
			{/restrictions.enabled}
			
		</td>
	{/col}

	<td class="center">
		{total} responses
	</td>

</tr>
{/summary}