

{#showHeader}

<div id="banner" class="row ">
	<div class="col-lg-12"> 
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron uninett-color-darkBlue uninett-pattern1">
			<h1>Feide Connect <br />{_.devdash} </h1>
			<p class="uninett-fontColor-white">
				
			</p >
			<p class="uninett-fontColor-white">
				{_.registerinfo}.</p>

			<div class="showOnLoggedOut"><button id="" class="btn btn-primary login">Login</button></div>
		</div>
	</div>
</div>
{/showHeader}





<div class="container">


	<div class="row" id="" style=" margin-top: 1em">
		
		<div class="col-md-12 " style="text-align: center">
			<button class="btn btn-primary actNewP">
				<i class="fa fa-check-circle-o"></i> 
				Lag ny påmelding</button>  
			<button class="btn btn-primary actNewD">
				<i class="fa fa-calendar"></i>  
				Lag ny datospørring</button>
		</div>
	</div>


	<div class="row center clearfix" id="" style=" margin-top: 2em">
		<div class="col-md-12" style="">

			<input id="foodlesearch" type="search" class="form-control" placeholder="Search..." />

		</div>
	</div>




	<div class="row pane" id="listing" style="margin-bottom: 4em">


		<div class="col-md-12" style="margin-top: 1em">

			<div id="listing" class="list-group"> 
			</div>

		</div>
	</div>	


</div>





