
<div class=" " id="sectionTime">


		<div class="col-sm-offset-2 col-sm-10 " style="">


			<div class="checkbox col-sm-3" style="padding: 0px">
				<p>
				<label>
					<input id="inputTimeAllDay" class="updatedtdynamics" type="checkbox"> {_.allday}
				</label>
				</p>

				<p>
				<label style="">
					<input id="inputTimeMultipleDays" class="updatedtdynamics" type="checkbox"> {_.multipledays}
				</label>
				</p>

			</div>

			<div id="sectioninputDateStart" class=" col-sm-2">
				<div class="input-group ">
					<input id="inputDateStart" style="padding-left: 4px; padding-right: 2px" type="text" value="" class="form-control updatedtdynamics">
					<div class="input-group-addon"><span class=" glyphicon glyphicon-calendar"></span></div>
				</div>
				<div>Fra dato</div>
			</div>

			<div id="sectioninputTimeStart" class=" col-sm-2">
				<!-- <div class="input-group "> -->
					<input id="inputTimeStart" style="" type="time" value="" class="form-control updatedtdynamics">
					<!-- <div class="input-group-addon"><span class=" glyphicon glyphicon-time"></span></div> -->
				<!-- </div> -->
				<div>Fra tidspunkt</div>
			</div>


			<div id="sectioninputUntil" class=" col-sm-1" style="text-align: center">
				until 
			</div>


			<div id="sectioninputDateEnd" class=" col-sm-2">
				<div class="input-group ">
					<input id="inputDateEnd" style="padding-left: 4px; padding-right: 2px" type="text" value="" class="form-control updatedtdynamics">
					<div class="input-group-addon"><span class=" glyphicon glyphicon-calendar"></span></div>
				</div>
				<div>Til dato</div>
			</div>

			<div id="sectioninputTimeEnd" class=" col-sm-2">
				<!-- <div class="input-group "> -->
					<input id="inputTimeEnd" style="" type="time" value="" class="form-control updatedtdynamics">
					<!-- <div class="input-group-addon"><span class=" glyphicon glyphicon-time"></span></div> -->
				<!-- </div> -->
					<div>Til tidspunkt</div>
			</div>

		</div>
	</div>
</div>




<div class="" id="sectionTimeDetails" style="margin-top: 5px; color: #400">
	<div class="col-sm-offset-2 col-sm-10 ">
		<p id="timeDetails"></p>
	</div>
</div>


