	<div class="form-group" id="sectionDeadline">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">

				<div class="form-inline">

					<div id="sectioninputDeadlineDate" class="form-group col-sm-2">
						<div class="input-group ">
							<input id="inputDeadlineDate" style="padding-left: 4px; padding-right: 2px" type="text" value="" class="form-control">
							<div class="input-group-addon"><span class=" glyphicon glyphicon-calendar"></span></div>
						</div>
					</div>

					<div id="sectioninputDeadlineTime" class="form-group col-sm-2">

						<input id="inputDeadlineTime" style="" type="time" value="16:00" class="form-control">

					</div>

				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<p class="help-block">{_.deadlinetxt}.</p>
			</div>
		</div>

	</div>